<!DOCTYPE html>
<html>
  <head>
    <title>Article List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<h1>Welcome to Article List</h1>
<a href="/articles/new"><button>Add new Article</button></a>
<hr><hr><hr>
<% articles.forEach((article)=>{ %>
  <div>
    <a href="/articles/<%= article.id %>">
      <h3><%= article.title %></h3>
    </a>
    <p>
      <%= article.description %>
    </p>
    <a href= "/articles/<%= article.id %>/likes"> 
      <button>Like ❤ </button>
    </a>
    <span>Likes - <%= article.likes %> 
    </span>
    <h4>Article By - <%= article.author %></h4>
  </div>
  <hr>
<% }) %>
  </body>
</html>
